.google-font-settings {
  .bd-setting-item {
    .bd-select {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .bd-select-header-custom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .bd-select-arrow {
          width: 16px;
          height: 16px;
        }
      }

      .bd-select-options {
        display: none;
        position: initial;
        z-index: 0;
      }
    }
  }
}